@import "tailwindcss";

@theme inline {
  --font-inter: var(--font-inter);
  --color-primary: #225a7f;
  --color-secondary: #8ab3cf;
  --color-accent: #4180ab;
}

.custom-container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

:where(.css-dev-only-do-not-override-1jgc3a4).ant-pagination .ant-pagination-item-active {
    font-weight: 600 !important;
    background-color: #225A7F !important;
    border-color: #225a7f !important;
}

:where(.css-dev-only-do-not-override-1jgc3a4).ant-pagination .ant-pagination-item-active a {
    color: #fff !important;
}

.table-id-column {
  padding-left: 50px !important; /* override default AntD padding */
}



